.custom-icon-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;

}

.custom-icon-button:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}

.arrow-icon{
    height: 14px;
    opacity: .7;
}