.pageTitleCont{
    width: 100%;

    padding: 3vw 15vw 2vw 15vw;

    display: flex;
    flex-direction: column;
    gap: .5vw;

    align-items: center;
    justify-content: center;
}

.subRow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5vw;
}

.pageTitleCont h2{
    line-height: 120%;
    width: 100%;
    max-width: 800px;
    font-family: var(--arabicFont);
    color: var(--lightText);

    font-size: 2.5rem;
    font-weight: 700;

    text-align: center;
}

.pageTitleCont h5{
    font-family: var(--arabicFont);
    color: var(--lightText);

    font-size: 1.2rem;
    font-weight: 300;
    max-width: 600px;
    text-align: center;
}

.subRow img[src=""], .subRow img:not([src]) { display: none; }