:root{
    --lightText: #FAFAEA;
    --darkText: #082F19;
    --bgGradient: radial-gradient(50% 50% at 50% 50%, #0F3F24 0%, #082F19 100%);
    --arabicFont: "Tajawal", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}

body{
    background: var(--bgGradient);
    min-height: 100vh;
      -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-x: hidden; /* Prevent horizontal jumping */
}
body::-webkit-scrollbar {
    display: none;
}

html, body {

    scrollbar-width: none; 
    -ms-overflow-style: none;
}

button{
    all: unset;
}

/* Home hero text */
h1{
    width: 35vw;
    line-height: 120%;
    color: var(--lightText);
    font-family: var(--arabicFont);
    font-size: 4rem;
}

h2{
    line-height: 130%;
    color: var(--lightText);
    font-family: var(--arabicFont);
    font-size: 1.2rem;
    font-weight: 400;
}

/* Section Titles */
h3{
    line-height: 120%;
    color: rgb(250, 250, 234);
    text-shadow: 0 3.633px 3.633px rgba(2, 39, 8, 0.337);
    font-family: var(--arabicFont);
    font-size: 2.5rem;
    font-weight: 700;
}
