:root{
    --lightText: #FAFAEA;
    --darkText: #082F19;
    --bgGradient: radial-gradient(50% 50% at 50% 50%, #0F3F24 0%, #082F19 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}

body{
    background: var(--bgGradient);
    min-height: 100vh;
}

