.pathSec{
    width: 80%;
    margin: 0 auto;
    /* background-color: rgba(0, 255, 255, 0.203); */

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 1.5vw;

    flex-direction: row-reverse;
}




.leaf-decor-system {
    position: absolute;
    left: -10%; 
    bottom: 0;
    width: 60vw;
    height: 80vh;
    mix-blend-mode: color-dodge; 
    pointer-events: none; 
    z-index: 0;
}

.leaf-decor-system img {
    position: absolute;
    object-fit: contain;
    filter: brightness(.9) contrast(4.1);

    transition: transform 1.2s cubic-bezier(0.23, 1, 0.32, 1);
    will-change: transform
}

.leaf-primary {
    height: 88%;
    left: 4%;
    bottom: 16%;
    transform: rotate(30deg);
}

.leaf-secondary {
    height: 60%;
    left: 16%;
    bottom: 10%;
    transform: rotate(60deg) scaleX(1); 
    opacity: 0.9;
}

.leaf-decor-system:hover .leaf-primary {
    transform: rotate(-12deg) translate(-10px, -15px) scale(1.02);
}

.leaf-decor-system:hover .leaf-secondary {
    transform: rotate(-35deg) translate(20px, 10px) scale(1.05);
}